<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>

    !(isNaN(parseInt(MANU_STAN_RATING)) || MANU_STAN_RATING !="") &&!(isNaN(parseInt(MANU_STAN_UP)) || MANU_STAN_UP !="") &&!(isNaN(parseInt(MANU_STAN_DOWN)) || MANU_STAN_DOWN !="")

    !(!isNaN(parseInt(MANU_STAN_RATING)) && MANU_STAN_RATING !="")
    !(isNaN(parseInt(MANU_STAN_RATING)))&&MANU_STAN_RATING =="";

    (!(isNaN(parseInt(MANU_STAN_RATING)))||MANU_STAN_RATING =="")
    && (!(isNaN(parseInt(MANU_STAN_UP)))||MANU_STAN_UP =="")
    &&(!(isNaN(parseInt(MANU_STAN_DOWN)))||MANU_STAN_DOWN =="")

    !(isNaN(parseInt(MANU_STAN_RATING))) || MANU_STAN_RATING =="";

    isNaN(parseInt(MANU_STAN_RATING)) || isNaN(parseInt(MANU_STAN_UP)) || isNaN(parseInt(MANU_STAN_DOWN))

    !(isNaN(parseInt(TOC)) || TOC =="") && (!(isNaN(parseInt(CONDUCTIVITY))) || CONDUCTIVITY =="");
</script>

</body>
</html>