<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mybatisPlus.mapper.ProcessqualityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.mybatisplus.model.Processquality">
        <id column="id" property="id"/>
        <result column="date" property="date"/>
        <result column="quality_issues_type" property="qualityIssuesType"/>
        <result column="quality_issues_number" property="qualityIssuesNumber"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, date, quality_issues_type, quality_issues_number
    </sql>
    <select id="ListWeek" resultType="java.util.Map">
        select sum(quality_issues_number) sum,weekday(t.date) weekday from pp_processquality t

        where date_format(t.date ,'%Y-%m-%d')
        BETWEEN date_sub(curdate(),interval WEEKDAY(curdate()) day) and curdate( )
        #BETWEEN '2022-03-20' and'2022-03-24'
        GROUP BY weekday(t.date),date_sub(curdate(),interval WEEKDAY(curdate()) day), curdate( )
        union

        SELECT
        sum(quality_issues_number) sum,
        9 weekday
        FROM
        pp_processquality t
        WHERE
        date_format(t.date ,'%Y-%m-%d') BETWEEN date_sub(curdate(),interval WEEKDAY(curdate()) day) and curdate( )
    </select>
    <select id="listToday" resultType="com.example.demo.mybatisplus.model.Processquality">
        select id, date, quality_issues_type, quality_issues_number from pp_processquality where
        date_format(date,'%Y-%m-%d')= date_format(SYSDATE(),'%Y-%m-%d')

    </select>

</mapper>
